.feature-list__checkbox:checked + .feature-list__card {
    border-color: #065f46;
    background-color: #ecfdf5;
}

.feature-list__checkbox:checked + .feature-list__card .feature-list__check {
    background-color: #047857;
    border-color: #047857;
}

.feature-list__checkbox:checked + .feature-list__card .feature-list__check-icon {
    opacity: 1;
    transform: scale(1);
}
